.homePage {
    background-color: steelblue;
}

.done {
    margin: 0px auto;
    background-color: tomato;
}

.divHome {
    background-color: seagreen;
    color: rebeccapurple;
}

.divHome1 {
    background-color: seagreen;
    color: rebeccapurple;
}

.dc {
    background-color: red;
}